/* src/components/members/detail/Field/style.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-02
  최종 수정일 : 2025-09-02
*/

.field {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-self: stretch;
}

.fieldLabel {
  color: #747474;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.00625rem;
}

.fieldValue {
  display: flex;
  height: 2.375rem;
  padding: 0.3125rem 0.75rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #f6f6f6;
}

.fieldValueText {
  color: #343434;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.00625rem;
}

