/* src/app/(admin)/members/[id]/memberDetail.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-02
  최종 수정일 : 2025-09-02
*/

.memberDetail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.memberDetailTitle {
  color: #212b36;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.memberDetailContent {
  display: flex;
  gap: 0.75rem;
}
