/* src/components/common/dropdown/Dropdown.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.dropdown {
  position: relative;

}

.btnDropdown {
  width: 100%;
  border-radius: 0.5rem;
  background: #fff;
  display: inline-flex;
  align-content: center;
  gap: 8px;
  padding: 8px 16px;
}

.textDropDownLabel {
  color: #55555c;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
  text-align: left;
}

.dropdownList {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfe3e8;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.dropdownItem.active {
  font-weight: 700;
}

.dropdownItem:hover {
  background: #f1f5f9;
}
