/* src/components/common/badge/StatusBadge.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.statusBadge {
  padding: 0 10px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  display: inline-flex;
align-items: center;
}

.active {
  background: #e8e7ff;
  color: #5a23ff;
}

.inactive {
  background: #efefef;
  color: #55555c;
}

.pending {
  background: #e8e7ff;
  color: #a486ff;
}

.closed {
  background: #939393;
  color: #fff;
}

.disabled {
  background: #f0f0f0;
  color: #b5b5b5;
}
