/* src/components/common/filter/CategoryFilterTabs.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.categoryFilterTabs {
  display: flex;
  gap: 0.75rem;
}

.categoryFilterTab {
  background: none;
  border: none;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  color: #16151c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  box-sizing: border-box;
  height: 3rem;
}

.categoryFilterTab.active {
  color: #5a23ff;
  font-weight: 600;
  line-height: 1.5rem;
  border-bottom: 2px solid #5a23ff;
}
