/* src/components/members/MemberHeader/style.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-08-31
  최종 수정일 : 2025-08-31
*/

.memberHeader {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  background: #f1f5f9;
  height: 3.25rem;
}

.memberHeader th {
  color: #1e293b;
  text-align: left;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.memberHeader th:first-child {
  width: 4.25rem;
  padding-left: 1rem;
}

.memberHeader th:nth-child(2) {
  width: 8.75rem;
}

.memberHeader th:nth-child(3) {
  width: 15rem;
}

.memberHeader th:nth-child(4) {
  width: 13rem;
}

.memberHeader th:nth-child(5) {
  width: 9.25rem;
}

.memberHeader th:nth-child(6) {
  width: 7.5rem;
}

.memberHeader th:last-child {
  width: 7.5rem;
  padding-right: 1rem;
}
