/* src/app/login/login.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-08-28
  최종 수정일 : 2025-08-28
*/

/* login page */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #edecf3;
}

/* login form */
.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 2.5rem 2rem;
  gap: 2rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08),
    0 1px 2px 0 rgba(21, 30, 40, 0.08);
  max-width: 22.75rem;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.formWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  width: 100%;
}

.formItemLabel {
  color: #1e293b;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 144%;
}

.formInput {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
  background: #fff;
  width: 100%;
}

.checkWrap {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.checkLabel {
  color: #1e293b;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.buttonWrap {
  width: 100%;
}

.loginButton {
  padding: 0.875rem 1.25rem;
  border-radius: 0.5rem;
  background: #5a23ff;
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
  letter-spacing: -0.02625rem;
  width: 100%;
}
