/* src/app/(admin)/events/events.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.eventsSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eventsHeader {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eventsHeaderTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventsTitle {
  color: #212b36;
  font-size: 2rem;
  font-weight: 700;
}

.eventsButton {
  border-radius: 0.5rem;
  padding: 0.875rem 1.25rem;
  background: #5a23ff;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 0.875rem;
  letter-spacing: -0.02813rem;
  cursor: pointer;
}

.dashBoardSummary {
  display: flex;
  gap: 0.75rem;
}

.eventsTable {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventsTableFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventsTableMain {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 0.75rem;
  background: #fff;

  box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08),
    0 1px 2px 0 rgba(21, 30, 40, 0.08);
}

.eventsTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.eventsTableHeaderLeft {
  display: flex;

  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.eventsTableHeaderTitle {
  color: #0f172a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
