/* src/app/admin/members/members.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-08-31
  최종 수정일 : 2025-08-31
*/

.membersSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.membersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.membersTitle {
  color: #212b36;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
