@use "variables" as v;

@for $i from 0 through 2000 {
    .mt#{$i} {
        margin-top: #{$i}px;
    }
    .mb#{$i} {
        margin-bottom: #{$i}px;
    }
    .mr#{$i} {
        margin-right: #{$i}px;
    }
    .gap#{$i} {
        gap: #{$i}px;
    }
    .w#{$i} {
        width: #{$i}px;
    }
    .w#{$i}p {
        width: $i * 1%;
    }
    .pa#{$i} {
        padding: #{$i}px;
    }
    .pt#{$i} {
        padding-top: #{$i}px;
    }
    .pb#{$i} {
        padding-bottom: #{$i}px;
    }
    .pl#{$i} {
        padding-left: #{$i}px;
    }
    .pr#{$i} {
        padding-right: #{$i}px;
    }
    .fs#{$i} {
        font-size: #{$i}px;
    }

    .fw#{$i} {
        font-weight: #{$i};
    }
    .lh#{$i} {
        line-height: #{$i};
    }

    .fg#{$i} {
        flex-grow: #{$i};

    }
    .fs-#{$i} {
        flex-shrink: #{$i};

    }

    .flex#{$i} {
        flex: #{$i};
    }


}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.box-flex {
    display: flex;

    &.a-start {
        align-items: flex-start;
    }

    &.a-center {
        align-items: center;
    }

    &.j-center {
        justify-content: center;
    }
}

.fw-wrap {
    flex-wrap: wrap;
}

.btnTap {
    height: 48px;
    color: v.$black-16;
    font-weight: 500;
    font-size: 16px;
    padding: 0 8px;
    border-bottom: 2px solid transparent;

    &.active {
        color: v.$main-blue;
        border-color: v.$main-blue;
        font-weight: 600;

    }
}

.title-page {
    font-size: 32px;
    font-weight: 700;
    color: v.$black-21;
    line-height: 1;
}

.btnDefault {
    height: 45px;
    padding: 0 16px;
    border-radius: 6px;
    background-color: v.$main-blue;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;




}

.btnBorder {
    height: 45px;
    padding: 0 16px;
    border-radius: 6px;
    border: 1px solid #cad5e2;
    font-weight: 600;
    color: v.$black-32;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &.delete{
        border-color: #ffa2a2;
        color: #e7000b;
    }
}

.color-black32 {
    color: v.$black-32;
}

.btnOption{
    height: 30px;
    padding: 0 12px;
    border-radius: 5px;
    background-color:#9CA3AF;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

