/* src/components/layout/adminLayout.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-08-28
  최종 수정일 : 2025-08-28
*/

.adminSidebar {
  display: flex;
  flex-direction: column;
  width: 16rem;
  min-height: 100vh;
  background: #212b36;
  padding: 2rem 1.5rem;
  gap: 2.5rem;
}

.adminLogo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.adminLogo p {
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
}

.adminMenu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.adminMenuTitle {
  color: #637381;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01625rem;
  text-transform: uppercase;
}

.adminMenuList {
  display: flex;
  flex-direction: column;
}

.adminMenuLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  color: #919eab;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
}

.active {
  color: #fff;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
}
