@use "@/styles/variables" as v;


.textStatus {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #7779ff;

}

.titleName{
    font-size: 32px;
    font-weight: 700;
    color: v.$black-21;
    margin-bottom: 40px;
}

.labelData{
    font-size: 15px;
    color: #747474;
    margin-bottom: 10px;
}

.boxData{
    padding: 10px 12px;
    color: #343434;
    font-size: 15px;
    border-radius: 8px;
    background-color: #f6f6f6;

    margin-bottom: 20px;

    &:last-child{
        margin-bottom: 0;
    }
}