/* src/components/events/SummaryCard/style.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.summaryCard {
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08),
    0 1px 2px 0 rgba(21, 30, 40, 0.08);
  padding: 1.75rem 1.25rem;
  display: flex;
  gap: 1.5rem;
}

.summaryCardItem {
  display: flex;
  flex-direction: column;
  width: 8.5rem;
  gap: 0.5rem;
}

.summaryCardItemTitle {
  color: #212b36;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summaryCardItemCount {
  color: #212b36;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
