/* src/components/common/table/DataTable.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.tableDefault {

    thead {
        border-top: 1px solid #e2e8f0;
        border-bottom: 1px solid #e2e8f0;
        background: #f1f5f9;
        height: 52px;

        .tableCell {
            padding: 8px;
            font-size: 14px;
            font-weight: 500;
            color: #1E293B;
        }
    }
    &.isClickable {
        tbody {

            tr {
                cursor: pointer;

                &:hover {
                    background: #F1F5F9;
                    transition: 0.2s all;
                }
            }
        }
    }




    th, td {
        &:first-child {
            padding-left: 8px;
        }

        &:last-child {
            padding-right: 8px;
        }
    }

    .tableCell {
        text-align: left;
        display: flex;
        align-items: center;
    }

    td {

        .tableCell {
            min-height: 56px;
            padding: 8px;
        }
    }

    .boxEmpty {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
    }

}

