/* src/components/common/table/DataTable.module.css */

/* 
  담당자 : 김은혜
  최초 작성일 : 2025-09-16
  최종 수정일 : 2025-09-16
*/

.dataTableHeader {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  background: #f1f5f9;
  height: 3.25rem;
}

.dataTableHeader th {
  color: #1e293b;
  text-align: left;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dataTableHeader th:first-child {
  padding-left: 1rem;
}

.dataTableRow {
  height: 3.25rem;
  background: #fff;
  color: #475569;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dataTableRow td:first-child {
  padding-left: 1rem;
}

.dataTableRow:hover {
  background-color: #f1f5f9;
}
